.pictureSize {
    max-width: 1200px;
    max-height: 1200px;
    width: 100%;
    height: auto;
}

.descriptionTool {
    text-align: justify;
}

p.a {
    font-style: italic;
}
.btnClose {
    text-align: right;
}
