p {
    font-size: 20px;
}

mat-button-toggle-group {
    margin-bottom: 10px;
    position: relative;
}

.mat-dialog-content {
    min-width: 60vh;
    max-height: 90vh !important;
}

img {
    max-height: 50vh;
}
