.row {
    position: absolute;
    left: 20px;
    display: flex;
}

.add {
    width: 90px;
    text-align: left;
}

.substract {
    width: 90px;
    text-align: center;
}

.stamp1 {
    width: 90px;
    height: 90px;
}

.stamp2 {
    width: 90px;
    height: 90px;
}

.stamp3 {
    width: 90px;
    height: 90px;
}

.stamp4 {
    width: 90px;
    height: 90px;
}

.stamp5 {
    width: 90px;
    height: 90px;
}
