<mat-dialog-content>
    <mat-grid-list cols="12">
        <mat-grid-tile colspan="12"
            ><p>{{ message }}</p></mat-grid-tile
        >
        <mat-grid-tile colspan="4"></mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Oui</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-raised-button mat-dialog-close tabindex="-1">Non</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
